<!--<app-utilisateur></app-utilisateur> ng -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Jamdong-Commerce</a>
    </div>
    <ul class="nav navbar-nav">

      <li class="active"><a routerLink="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produits
          <span  class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/products" >Chercher</a></li>
           <li><a routerLink="/new-product" >Ajouter</a></li>
           <li><a href="#">Afficher</a></li>

        </ul>
        </li>
        <li> <a href="#">P2</a></li>
        <li> <a href="#">P3</a></li>
        <li> <a href="#">P4</a></li>
      </ul>

<!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
<router-outlet>

</router-outlet>


