

<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">List des Produits</div>
<div class="panel-body">
<button class="btn btn-primary"  (click)="onGetProducts()">Produits</button>
</div>
<div class="panel-body">
<form #f="ngForm" (ngSubmit)="onChercher(f.value)">
<div class="form-group">
<label>keyword</label>
<input type="text" name="keyword" ngModel>
<button type="submit" class="btn btnsearch">
<span class=" glyphicon glyphicon-search" ></span>chercher</button>
</div>
</form>
<table *ngIf="produits" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>the Products</th>
    </tr>
  </thead>
  <tbody>

 <!-- on affiche les produits que si produits est differentes de indefined -->
<tr><th>Id</th><th>Designation </th><th>Prix</th><th>quantite</th></tr>
<tr *ngFor="let p of produits._embedded.produits"  >
<td>{{p.id}}</td>
<td>{{p.designation}}</td>
<td>{{p.quantite}}</td>
<td>{{p.price|number:'0.2'}}</td><!-- 2 chiffre apres la virguleng serve-->
<td class="btn btn-danger"  (click)="onDeleteProduct(p)">Delete</td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td class="btn btn-success"  (click)="onUpdateProduct(p)">Edit</td>
</tr>
</tbody>
</table>
<ul *ngIf="pages" class="nav nav-pills"><!--pour avoir un menu horizontal-->
<li class="clickable" [ngClass]="i==currentPage?'active':'' "  *ngFor="let p of pages; let i=index"><a (click)="onPageProduct(i)">{{i}}</a></li>
</ul>
</div>
     </div>
</div>
